<section class="container">
  <nb-card class="container__card">
    <nb-card-header  >
      Artista
    </nb-card-header>
    <nb-card-body class="container__card--body">
      <input type="text" nbInput placeholder="Nombre" fullWidth>
      <input type="text" nbInput placeholder="Apellido" fullWidth>
      <input type="text" nbInput placeholder="Correo" fullWidth>
      <input type="text" nbInput placeholder="Edad" fullWidth>
      <textarea name="description" id="description_id" cols="30" rows="10" nbInput fullWidth></textarea>


    </nb-card-body>
    <nb-card-footer>
      Contenido de la tarjeta
    </nb-card-footer>
  </nb-card>
</section>
